
<%- include("partials/header"); -%>





	<div class="row " style="border:none; background:#E3E2DF; margin-top:4rem;">
		<div class="col-xs-6 rrrr">
			<img  src="<%=url%>" style=" margin-left:-15px;" />
		</div>
		<div class="col-xs-6">
			<h1 class="subpage"><%=title%></h1>
			<p style="font-size:1.5rem; color:#03225C;"><%=content%></p>
		</div>
	</div>




<%- include("partials/footer"); -%>
